#  __  ___ _   _______ _____  _    _ _   _   _____ _   _ _________________ _____ _____ _____
# |  \/  || | / /  _  \  _  || |  | | \ | | /  ___| \ | |_   _| ___ \ ___ \  ___|_   _/  ___|
# | .  . || |/ /| | | | | | || |  | |  \| | \ `--.|  \| | | | | |_/ / |_/ / |__   | | \ `--.
# | |\/| ||    \| | | | | | || |/\| | . ` |  `--. \ . ` | | | |  __/|  __/|  __|  | |  `--. \
# | |  | || |\  \ |/ /\ \_/ /\  /\  / |\  | /\__/ / |\  |_| |_| |   | |   | |___  | | /\__/ /
# \_|  |_/\_| \_/___/  \___/  \/  \/\_| \_/ \____/\_| \_/\___/\_|   \_|   \____/  \_/ \____/

# Quickly build docs by inserting a word or phrase in your doc, then press tab
# to complete the rest of the snippet.

# ----------------------------------------------------------------------------
# REQUIRED
# ----------------------------------------------------------------------------
snippet frontmatter
---
slug: tk
append_help_link: true
title: tk
hide_title: true
description: tk
tags:
  - tk
---
endsnippet


# ----------------------------------------------------------------------------
# RELEASE NOTES
# ----------------------------------------------------------------------------

snippet release-frontmatter
---
slug: MONTH-2023
append_help_link: true
hide_title: true
description: >-
  Release notes include the changes, fixes, and additions in specific versions of Semgrep.
toc_max_heading_level: 3
tags:
  - Release notes
---
endsnippet

# -----------------------------------------------------------------------------

snippet release-template
# [todoMONTH] 2023 release notes

<!-- Remember to update latest endpoint -->

## 🔧 Semgrep OSS Engine

* The following versions of Semgrep OSS Engine were released in September 2023:

endsnippet

snippet release-subsections
### Added

### Changed

### Fixed

endsnippet

# -----------------------------------------------------------------------------

snippet release-products
## 🔧 Semgrep OSS Engine

## 🌐 Semgrep Cloud Platform

## 💻 Semgrep Code

## ⛓️ Semgrep Supply Chain

## 🤖 Semgrep Assistant (beta)

## 🔐 Semgrep Secrets (beta)

## 📝 Documentation and knowledge base

endsnippet

# -----------------------------------------------------------------------------

snippet pr-link
([#$1NUMBER](https://github.com/returntocorp/semgrep/issues/NUMBER))
endsnippet

# ----------------------------------------------------------------------------
# EDITING SYMBOLS AND CONVENIENCE SNIPPETS
# ----------------------------------------------------------------------------

snippet tk
[TODO]
endsnippet

# -----------------------------------------------------------------------------
snippet fig
*Figure.* $1DESC
endsnippet

# -----------------------------------------------------------------------------

snippet link
[$1LINK_TEXT](ANCHOR)
endsnippet

# -TABLES----------------------------------------------------------------------

snippet 2-col
| $1header | header |
| -------  | ------ |
|          |        |
endsnippet

# -TABLES----------------------------------------------------------------------

snippet 3-col
| $1header | header | header |
| -------  | ------ | ------ |
|          |        |        |
endsnippet

# ----------------------------------------------------------------------------
# IMAGES
# ----------------------------------------------------------------------------

snippet img-link
![DESCRIPTION](/img/$1PNG_FILE.png)
endsnippet

# -----------------------------------------------------------------------------

snippet img-link-bordered
![DESCRIPTION](/img/$1PNG_FILE.png#bordered)
endsnippet

# -----------------------------------------------------------------------------

snippet img-link-md-width
![DESCRIPTION](/img/$1PNG_FILE.png#md-width)
endsnippet


# ----------------------------------------------------------------------------
# EMOJIS AND ICONS
# ----------------------------------------------------------------------------

snippet :x:
❌
endsnippet

# -----------------------------------------------------------------------------

snippet :check:
✔️
endsnippet

# -----------------------------------------------------------------------------

snippet icon-gear
<i class="fa-solid fa-gear"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-toggle
<i class="fa-solid fa-toggle-large-on"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-horiz-dots
<i class="fas fa-ellipsis-h"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-checkbox
<i class="fa-solid fa-square-check"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-bullhorn
<i class="fa-solid fa-bullhorn"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-key
<i class="fa-solid fa-key"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-hourglass
<i class="fa-solid fa-hourglass-half"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-openfolder
<i class="fa-solid fa-folder-open"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-extlink
[<i class="fas fa-external-link fa-xs"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-doclink
[<i class="fa-regular fa-file-lines"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-play
<i class="fa-solid fa-play"></i>
endsnippet

# -----------------------------------------------------------------------------

snippet icon-gem
<i class="fa-solid fa-gem"></i>
endsnippet
# ----------------------------------------------------------------------------
# USEFUL MARKDOWN
# ----------------------------------------------------------------------------

snippet summary
<details><summary>$1</summary>

[CONTENT]
</details>
endsnippet

# -----------------------------------------------------------------------------

snippet mailto
[<i class="fa-regular fa-envelope"></i>$1](mailto:)
endsnippet

# -----------------------------------------------------------------------------

snippet placeholder
<span className="placeholder">$1</span>
endsnippet

# ----------------------------------------------------------------------------
# SEMGREP LINKS
# ----------------------------------------------------------------------------

snippet mail-support
[<i class="fa-regular fa-envelope"></i> support@semgrep.com](mailto:support@semgrep.com)

endsnippet

# -----------------------------------------------------------------------------

snippet sg.dev-projects
**[Projects](https://semgrep.dev/orgs/-/projects/)**
endsnippet

# -----------------------------------------------------------------------------

snippet sg.dev-settings
**[Settings](https://semgrep.dev/orgs/-/settings/)**
endsnippet

# -----------------------------------------------------------------------------

snippet sg.dev-ssc
https://semgrep.dev/orgs/-/supply-chain
endsnippet

# -----------------------------------------------------------------------------

snippet sg.dev-policies
https://semgrep.dev/orgs/-/policies
endsnippet
# -----------------------------------------------------------------------------

snippet link-semgrep-slack
https://go.semgrep.dev/slack
endsnippet

# -----------------------------------------------------------------------------

snippet sign-in-up-semgrep
[<i class="fas fa-external-link fa-xs"></i> Sign up or sign in to Semgrep Cloud Platform](https://semgrep.dev/login).
endsnippet

# -----------------------------------------------------------------------------

snippet sign-in-semgrep
[Sign in to Semgrep Cloud Platform](https://semgrep.dev/login).
endsnippet

snippet support
[Semgrep support](mailto:support@semgrep.com)

# ----------------------------------------------------------------------------
# CALLOUT BOXES (ADMONITIONS)
# ----------------------------------------------------------------------------

snippet prerequisites
:::info prerequisites
$1
:::
endsnippet

# -----------------------------------------------------------------------------

snippet scp-prereq
:::info Prerequisites
* [FEATURE] can be accessed through Semgrep Cloud Platform (SCP). [Create an account](/semgrep-code/getting-started/#signing-in-to-semgrep-cloud-platform) to set up [FEATURE].
* To [VERB_WITH_FEATURE], you must [REF LINK](LINK).
:::
endsnippet

# -----------------------------------------------------------------------------

snippet caution
:::caution
$1
:::
endsnippet

# -----------------------------------------------------------------------------

snippet tip
:::tip
$1
:::
endsnippet
# ----------------------------------------------------------------------------
# ACRONYMS
# ----------------------------------------------------------------------------

snippet sast
SAST (Static application security testing)
endsnippet

# -----------------------------------------------------------------------------

snippet sca
SCA (Software composition analysis)
endsnippet


# ----------------------------------------------------------------------------
# IMPORT COMPONENTS
# ----------------------------------------------------------------------------

snippet import-tabs
import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';
endsnippet

snippet add-tabitem
<Tabs
    defaultValue="todo"
    values={[
    {label: 'Default', value: 'todo'},
    {label: '2nd tab', value: 'todo'},
    ]}
>

<TabItem value='todo'>

tk

</TabItem>
</Tabs>
endsnippet

snippet import-registry
<LinkToRegistryRule ruleId="go.lang.security.audit.xss.import-text-template.import-text-template" />
endsnippet
